<div  class="has-text-centered" style="width:0px;margin:auto">
    <div class=" has-text-centered" >
        <div id="spinner"></div>
    </div>
  </div>

<div class="paper doc-container">

<div class="box" id="box">
<img  id="renderView" src="" alt="">
</div>

 <div id="printView"></div>

</div>
